@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.textSphere {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
  width: 300px;
}

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.3em;
  color: rgb(129 140 248);
}

.tagcloud--item:hover {
  color: #ff6347;
}

.tagcloud--item {
  color:beige
}